<%= form_for @purchase do |f| %>
  <ul>
    <li><%= f.label :customer_name %> <%= f.text_field :customer_name %></li>
    <li><%= f.label :price %> <%= f.number_field :price %></li>
    <li><%= f.collection_select :brew_id, Brew.all, :id, :blend_name %></li>
    <li><%= f.submit %></li>
  </ul>
<% end %>
